#body-wrp .content > div {
  margin: 0;
  display: inline-block;
  
  position: relative;
  
  width: 100%;
  height: 20vh;
  
  overflow: hidden;
  overflow-y: hidden;
  
  /*border: thin solid red;*/
}

#body-wrp .content .entry.even .detail:focus,
#body-wrp .content .entry .detail:focus {
  position: fixed;
  left: 0;
  top: 40%;
  
  width: 100%;
  height: 60%;
  
  overflow: hidden;
  overflow-y: scroll;
  
  outline: thin solid rgb(125, 230, 230);
  
  opacity: 1;
  /*transition: opacity 0.5s, width 0s 0s, height 0s 0s;*/
  transition: opacity 0.5s,
    position 0s 0.5s,
    width 0s 0s,
    height 0s 0s;
  z-index: 3;
  
  padding: 1%;
}