body {
	background-color: #000000;
	color: #fafafa;
	margin: 0px;
	overflow-x: hidden;
	font-size: 2.4vmin;
	font-family: Quicksand monospace;
}

footer {
	padding-left: 5vmin;
	width: 100vw;
	background-color: #303030;
	border: white solid thin;
}

#div-content {
	margin: 3vmin;
	min-height: 92vh;
}

#top-nav, #top-nav-background {
	display: inline-table;
	position: sticky;
	top: 0px;
	left: 0px;
	width: 94vw;
	height: 10vmin;
	
	border-bottom: #353535 solid 0.5vmin;
	
	padding-left: 3vw;
	padding-right: 3vw;
}

#top-nav-background {
	position: fixed;
	background-color: #303030;
	box-shadow: 0px 0px 10px 3px #505050;
	opacity: 0.5;
}

#top-nav > * {
	display: table-cell;
	vertical-align: middle;
}
/*
#top-nav > div > div  {
	max-height: 90%;
}
*/
.top-nav-button {
	text-align: center;
	padding: 0.6vmin;
	border: white solid thin;
	color: white;
	text-decoration: none;
}

.top-nav-button:visited {
	padding: 0.6vmin;
	border: lightGray solid thin;
	color: lightGray;
}

.top-nav-button:hover, .top-nav-button:focus {
	padding: 0.6vmin;
	border: lightGray solid medium;
	color: lightGray;
}

#top-nav div > div {
	display: inline-table;
	padding-left: 2vw;
	padding-right: 2vw;
}

#top-nav div > div > * {
	display: table-cell;
	min-width: 4vw;
}

#top-nav img {
	position: relative;
	top: 0.5vmin;
	height: 8vmin;
}

#top-nav-div-theme span {
	padding-left: 1vw;
	padding-right: 1vw;
	border: white solid thin;
	display: none;
}

#top-nav-icon {
	
}

#top-nav-page-name-column {
	border-right: white solid thin;
}

#top-nav-page-name-column * {
	
}

#top-nav-links {
	
}

#top-nav-other-links {
	
}

#top-nav-other-links * {
	float: right;
}