body {
	background-color: #f0f0f0;
	color: #0a0a0a;
	margin: 0px;
	overflow-x: hidden;
	font-size: 2.4vmin;
	font-family: Quicksand monospace;
}

footer {
	width: 100vw;
	background-color: #cfcfcf;
	border: black solid thin;
}

#div-content {
	margin: 3vmin;
	min-height: 92vh;
}

#top-nav, #top-nav-background {
	display: inline-table;
	position: sticky;
	top: 0px;
	left: 0px;
	width: 94vw;
	height: 10vmin;
	
	border-bottom: #959595 solid 0.5vmin;
	
	padding-left: 3vw;
	padding-right: 3vw;
}

#top-nav-background {
	position: fixed;
	background-color: #afafaf;
	box-shadow: 0px 0px 10px 3px #505050;
	opacity: 0.5;
}

#top-nav > * {
	display: table-cell;
	vertical-align: middle;
}
/*
#top-nav > div > div  {
	max-height: 90%;
}
*/
#top-nav a {
	text-align: center;
	padding: 0.6vmin;
	border: black solid thin;
	color: black;
	text-decoration: none;
}

#top-nav a:visited {
	padding: 0.6vmin;
	border: gray solid thin;
	color: gray;
}

#top-nav a:hover, #top-nav a:focus {
	padding: 0.6vmin;
	border: black solid medium;
	color: black;
}

#top-nav div > div {
	display: inline-table;
	padding-left: 2vw;
	padding-right: 2vw;
}

#top-nav div > div > * {
	display: table-cell;
	min-width: 4vw;
}

#top-nav img {
	position: relative;
	top: 1vmin;
	height: 8vmin;
}

#top-nav-div-theme span {
	padding-left: 1vw;
	padding-right: 1vw;
	border: black solid thin;
	display: none;
}

#top-nav-page-name-column {
	border-right: black solid thin;
}