* {
  box-sizing: border-box;
}
/*
body {
  filter: invert(100%);
}

*.noinvert {
  filter: invert(100%);
}*/

body {
  margin: 0;
  padding: 0;
  
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  
  width: 100vw;
  height: 100vh;
}

@media (orientation: landscape) {
  .portrait {
    display: none !important;
  }
}

#body-wrp a {
  color: rgb(125, 230, 125);
}

#body-wrp {
  position: relative;
  
  width: 100%;
  height: 100%;
  
  overflow: hidden;
  overflow-y: scroll;
  
  z-index: 1;
  
  font-family: Poor Story;
  font-size: 18px;
}

#body-wrp .app {
  /*border: thin solid red;*/
}

#body-wrp .logo > * {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

#body-wrp .logo > * > * {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#body-wrp > .banner {
  position: sticky;
  top: 0%;
  
  height: 60%;
  
  z-index: -1;
}

#body-wrp > .banner > .image {
  position: relative;
  
  width: 100%;
  height: 100%;
  
  background-color: rgb(30, 30, 30);
  background-size: cover;
  background-position: 0 50%;
  
  z-index: -1;
  
  filter: grayscale(30%);
}

#body-wrp > .banner > .description {
  position: absolute;
  left: 5%;
  top: 50%;
  
  transform: translateY(-50%);
}

#body-wrp > .banner > .credit {
  position: absolute;
  bottom: 2%;
  right: 2%;
  text-align: right;
}

#body-wrp > .banner > .credit a {
  color: rgb(125, 230, 125);
}

#body-wrp > .banner > .description > .title {
  font-size: 300%;
  font-weight: bold;
}

#body-wrp > .banner > .description > .text {
  
}

#body-wrp > .banner > .nav {
  position: absolute;
  
  right: 0.5%;
  top: 0.5%;
  
  height: 5%;
  width: 40%;
  height: 35%;
  
  line-height: 0px;
}

#body-wrp > .banner > .nav > div {
  position: relative;
  display: inline-block;
  
  margin-top: 0.5%;
  
  height: 49%;
  width: 100%;
  
  text-align: right;
}

#body-wrp > .banner > .nav > div > * {
  
}

#body-wrp > .content {
  border-top: thin solid rgb(34, 34, 34);
  display: block;
  position: relative;
  background-color: rgb(24, 24, 24);
  z-index: 1;
  
  min-height: 100%;
  width: 100%;
}

#body-wrp > .content > * {
  margin-left: 2%;
  margin-right: 2%;
}

#body-wrp > .content > p {
  margin: 2%;
  position: relative;
  
  max-width: 70%;
  border-radius: 5px;
  padding: 15px;
}

#body-wrp > .content > p.box {
  border: thin solid rgb(125, 125, 230);
}

#body-wrp > .content > p.center {
  margin: 0%;
  position: relative;
  
  left: 50%;
  transform: translateX(-50%);
}

#body-wrp > .content > p.center.box {
  border: thin solid rgb(230, 230, 125);
}

#body-wrp > .content > p.right {
  /*I have no idea why doesn't 'right' work*/
  margin-left: 0%;
  left: 100%;
  transform: translateX(-102%);
  
  right: 0px;
}
#body-wrp > .content > p.right.box {
  border: thin solid rgb(125, 230, 125);
}

#body-wrp > .content > .title {
  margin: 0;
  margin-top: 1%;
  display: inline-block;
  
  text-decoration: underline;
  
  position: relative;
  font-size: 150%;
  
  left: 50%;
  
  transform: translateX(-50%);
}

#body-wrp > .top.placeholder {
  position: relative;
  width: 0%;
  visibility: invisible;
  z-index: 1;
}

#body-wrp > .top {
  display: table;
  width: 100%;
  height: 7%;
  
  z-index: 2;
  border-bottom: thin solid rgb(34, 34, 34);
  background-color: rgb(14, 14, 14);
  
  opacity: 0.8;
  
  position: fixed;
  top: 0%;
}

#body-wrp > .top > * {
  position: relative;
  display: table-cell;
  height: 100%;
  top: 0px;
}

#body-wrp > .top .banner {
  position: relative;
  width: 10%;
  height: 100%;
  
  /*background-color: rgb(20, 20, 20);
  background-image: url("res/top-banner.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  */
  
  transition: filter 0.2s;
}

#body-wrp > .top .banner.right {
  
}

#body-wrp > .top .banner {
  width: 20%;
}

#body-wrp > .top > * {
  /*border: thick solid violet;*/
  display: table-cell;
}

#body-wrp > .top .banner {
  border-right: thin solid rgb(54, 54, 54);
}

#body-wrp > .top .logo {
  width: 10%;
}

#body-wrp > .top .banner > * {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

#body-wrp > .top .logo > * > * {
  padding-right: 10%;
  float: right;
}

#body-wrp > .top .banner > * > * {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#body-wrp > .top .logo > * > img {
  position: relative;
  display: inline-block;
  margin-left: 5%;
}

#body-wrp > .top .banner > * > div {
  position: relative;
  right: 0%;
  height: 100%;
  font-size: 100%;
  font-family: SourceCodePro, monospace;
  font-weight: bolder;
  color: white;
  margin-left: 3%;
  
  /*outline: thin solid blue;*/
}

#body-wrp > .top .banner > * > div > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#body-wrp > .top .banner > * > img {
  position: relative;
  display: inline-block;
  margin-left: 5%;
}

#body-wrp > .top .banner:hover {
  filter: brightness(250%);
}

#body-wrp > .top .banner:active {
  transition: filter 0s;
  
  filter: brightness(120%);
}

#body-wrp > .top .nav {
  width: 30%;
}

#body-wrp > .top .nav > div {
  display: inline-table;
  width: 100%;
  height: 100%;
}

#body-wrp > .top .nav > div > * {
  display: table-cell;
  
  padding-left: 1%;
  padding-right: 1%;
  
  vertical-align: middle;
  text-align: center;
}

#body-wrp > .top .nav > div > * > * {
  border: thin solid rgb(125, 240, 125);
  transition: padding 0.2s;
}

#body-wrp > .top .nav > div > * > *:hover {
  padding-left: 9%;
  padding-right: 0%;
}

#body-wrp > .top .nav > div > * > * > * {
  transform: translateY(-50%);
  color: rgb(125, 240, 125);
  padding: 3%;
  border-radius: 2px;
}

#body-wrp > .top .where {
  vertical-align: middle;
  text-align: center;
  text-decoration: underline;
  
  /*border: thin solid rgb(125, 240, 125);
  background-color: rgba(125, 240, 125, 0.2);*/
  
  width: 30%;
}

#body-wrp > .footer {
  position: relative;
  background-color: rgb(16, 16, 16);
  
  font-family: system-ui;
  font-size: 80%;
  
  min-height: 30%;
  padding: 1%;
  
  color: rgb(152, 152, 152);
}

#body-wrp > .footer > a {
  color: rgb(152, 152, 152);
  font-weight: bold;
  
  text-decoration: none;
}

#body-wrp > .footer > .copyright {
  position: absolute;
  bottom: 0px;
  margin-bottom: 1%;
  
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  
  background-color: rgb(8, 8, 8);
  padding: 1%;
  
  text-align: center;
}